@charset 'UTF-8';
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(background/fundo-login.png);
}
.container {
  background-color: rgba(75, 75, 75, 0.49);
  width: 430px;
  height: 420px;
  border: 3px solid rgba(255, 255, 255, 0.127);
  border-radius: 10px;
  padding: 30px 40px;
  box-shadow: rgba(0, 0, 0, 0.1);
}
.container h1 {
  font-size: 50px;
  text-align: center;
}
.input-box {
  position: relative;
  width: 100%;
  height: 40px;
  margin: 30px 0;
  padding-bottom: 20px;
}
.input-box input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: 2px solid #fff;
  border: none;
  font-size: 16px;
  border-radius: 20px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
  color: #fefefe;
  opacity: 0.5;
}
.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -15px 0 20px 0;
  padding-bottom: 25px;
}
.remember-forgot label input {
  accent-color: #fff;
  margin-right: 5px;
}
.remember-forgot a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
.remember-forgot a:hover {
  text-decoration: underline;
}
.login-button {
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: #c5c5c5;
  border: none;
  border-radius: 20px;
  font-size: 25px;
  color: #000000;
  cursor: pointer;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.2);
}
.login-button:hover {
  background-color: transparent;
  border: 2px solid #fff;
  transition-duration: 0.5s;
}
.registrar {
  text-align: center;
  margin-top: 20px;
}
.registrar a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
.registrar a:hover {
  text-decoration: underline;
}
